@import "variables";

body {
    position: relative;
}


.small {
    float: right !important;
    width: 80% !important;
}

.medium {
    float: right;
    width: 90% !important;
}

.demo {
    background: $blue-200;

    & p {
        padding: 10px;
    }
}

#sidebar {
    width: 10%;
    padding: 20px;
    position: fixed;
    font-family: Helvetica;

    & ul {
        margin: 0;
        padding: 0;
        text-align: center;

        & li {
            list-style: none;
            padding: 10px 0;

            & a {
                color: $white;
                display: block;
                padding: 10px 0; 
                text-decoration: none;
                background: $grey-400;
                border-radius: 6px;
            }

        }


    }
}